@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Libre Baskerville", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.heading{
    font-size: 10rem;
    font-weight: 900;
    background: url(https://cdn.pixabay.com/photo/2026/07/22/09/45/09-45-46-238_1280.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}